$font: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;


%regular {
  font-weight: 400;
}

%medium {
  font-weight: 600;
}

%bold {
  font-weight: 700;
}

%italic {
  font-style: italic;
}

%h1 {
  @extend %bold;

  font-family: $font;
  font-size: 2.5rem;
  line-height: 1.25;

  @include breakpoint(md) {
    font-size: 3.125rem;
  }
}

%h2 {
  @extend %bold;

  font-family: $font;
  font-size: 2rem;
  line-height: 1.4;
}

%h3 {
  @extend %medium;

  font-family: $font;
  font-size: 1.5rem;
  line-height: 1.7;
}


%body-text1 {
  @extend %regular;

  font-family: $font;
  font-size: 1rem;
  line-height: 1.5rem;
}

%subtitle1 {
  @extend %bold;

  font-family: $font;
  font-size: 1.15rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
