<template>
  <p class="info" v-if="text">
    <span class="info__caption">{{ caption }}</span>
    <span class="info__text">{{ formattedText }}</span>
  </p>
</template>

<script>
export default {
  props: {
    caption: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  },

  computed: {
    formattedText () {
      return this.text ? this.text : '-'
    }
  }
}
</script>

<style lang="scss" scoped>
.info {
  &__caption {
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text {
    @include margin(left, 2);

    background: #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9rem;
    padding: 1px 6px;
  }
}
</style>
