<template>
  <article class="translate-card">
    <h3 class="translate-card__title">
      {{ entry.term }}
    </h3>

    <div class="translate-card__def-list">
      <p class="translate-card__class">
        {{ entry.classe }}
      </p>
      <p class="translate-card__def">
        {{ entry.definicao }}
      </p>

      <div class="translate-card__meta">
        <info
          class="translate-card__metadata"
          caption="declinação"
          :text="entry.declinacao"
        />
        <info
          class="translate-card__metadata"
          caption="contrato"
          :text="entry.contrato"
        />
        <info
          class="translate-card__metadata"
          caption="conjugação"
          :text="entry.conjugacao"
        />
        <info
          class="translate-card__metadata"
          caption="radical"
          :text="entry.radical"
        />
        <info
          class="translate-card__metadata"
          caption="voz"
          :text="entry.voz"
        />
      </div>
    </div>
  </article>
</template>

<script>
import Info from './info'

export default {
  name: 'TranslateCard',

  components: {
    Info
  },

  props: {
    entry: {
      type: Object,
      required: true
    }
  },

  computed: {
    alternativesText () {
      return this.entry.alternativos.join(', ')
    }
  }
}
</script>

<style lang="scss">
.translate-card {
  border-radius: $radius-8;
  padding: $base * 4;
  background: $gray;

  &__title {
    @extend %h3;

    color: $blue;
  }

  &__meta {
    @include margin(top, 4);
  }

  &__metadata + &__metadata {
    @include margin(top, 1);
  }

  &__def {
    @include margin(top, 4);
    @include margin(left, 4);

    @extend %medium;
  }
}
</style>
