<template>
  <main class="search">
    <h1 class="search__title">
      Dicionário de Grego
    </h1>

    <input
      v-model="query"
      class="search__input"
      type="search"
      placeholder="Buscar por..."
      @input="$fetch"
    >

    <p class="search__results-count">
      {{ entries.length }} resultados
    </p>

    <section class="search__results-box">
      <translate-card
        v-for="entry in entries"
        :key="entry.word"
        class="search__result"
        :entry="entry"
      />
    </section>
  </main>
</template>

<script>
import TranslateCard from '@/components/translate-card'

export default {
  components: {
    TranslateCard
  },

  async fetch () {
    this.entries = await this.$content('grego')
      .search(this.query)
      .fetch()
  },

  data () {
    return {
      entries: [],
      query: ''
    }
  },

  head () {
    return {
      title: `Eliniká | ${this.query}`
    }
  }
}
</script>

<style lang="scss">
.search {
  padding: $base * 10;

  &__title {
    @extend %h1;

    color: $blue;
  }

  &__input {
    @extend %h3;

    border-radius: $radius-8;
    border: 0px;
    background: $gray;
    color: $dark-gray;
    margin-top: $base * 4;
    padding: $base * 4;
    width: 100%;

    &::placeholder {
      color: rgba($dark-gray, 0.5);
    }
  }

  &__results-count {
    @include margin(top, 8);
  }

  &__results-box {
    @include margin(top, 4);

    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: $base * 4;

    @include breakpoint(md) {
      grid-template-columns: 50% 50%;
    }
  }
}
</style>
